{% extends "base.html" %}

{% block head %}
 <title>Add Student</title>
 {% endblock %}

{% block big_title %}
 <h1>Student Information</h1>
{% endblock %}

{% block content %}
 <form action = "/saverecord" method="post">

 <table align="center" cellspacing = "2" cellpadding = "13" border = "10" width="700">

  <tr><td>Name</td><td><input type="text" name="name" ></td></tr>
  <tr><td>Email</td><td><input type="email" name="email"></td></tr>
  <tr><td>Gender</td><td><input type="text" name="gender"></td></tr>
  <tr><td>Contact No.</td><td><input type="text" name="contact"></td></tr>
  <tr><td>D.O.B</td><td><input type="text" name="dob"></td></tr>
  <tr><td>Address</td><td><input type="text" name="address"></td></tr>

  <tr><td></td><td><input type="submit" value="Submit"></td></tr>

 </table>
 </form>
{% endblock %}